@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,600');

html, body, #map-canvas, #sidebar {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

#map-canvas {
	width: 80%;
	float: right;
}

#sidebar {
	width: calc(20% - 40px);
	height: calc(100% - 40px);
	float: left;
    padding:20px;
    line-height: 1.8em;
}

h1
{
	font-weight: 300;
	font-size: 24px;
}
h2
{
	padding-top: 20px;
	font-weight: 600;
}
p
{
	font-size: 13px;
}